
.header {
    background: url('../img/destaque.jpeg') no-repeat;
    background-size: cover;
    padding-top: 32px;
}

.main-menu {
    list-style: none;
    text-align: center;
    font-size:1em;
}

.main-menu .menu-item {
    display: inline-block;
    margin: 0 2px 32px 0;
 }

.menu-item a {
    color: white;
    padding: 16px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.5s;
}

.main-menu .menu-item a:hover{
    background-color: #48A3A6;
}
.chamada-evento{
    text-align: center;
    text-transform: uppercase;
    text-shadow: 4px 4px 10px black;
    font-size: 2.5em;
}
.chamada-evento h1{
    color:#ffff;
    margin:20px 0;
}
.chamada-evento h2{
    color:#adff2f;
}
.inscricao-evento{
    text-align: center;
    padding: 40px 0;
}
.button{
    display:inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffff;
    background-color: #48A3A6;
    padding: 20px 50px;
    border-radius: 8px;
}
.conteudo{
    text-align: center;
    padding-top: 20px;
    margin: 0 20px 0 20px;
}
.titulo-principal{
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}
.subtitulo-principal{
    font-size:1.5em;
    margin-bottom:20px;
}
.conteudo-principal .texto-principal{
    font-size: 1.1em;  
    line-height: 1.5em;  
}
.painel-palestrantes{
    background: #EB714B;
    text-align: center;
    color:white;
    padding-top:10px;
    
}
.painel-palestrantes .titulo-painel{
    font-size: 2em;
    padding-bottom:10px;
    margin:0px 20px 0 20px;
}
.painel-palestrantes .subtitulo-painel{
    font-size:1.5em;
    margin:0px 20px 0 20px;
}
.palestrantes{
    margin-top:10px;
    
}
.palestrante{
    display: inline-table;
    background: white;
    border-radius: 10px;
    color:black;
   margin-bottom: 15px;
}
.foto-palestrante img{
    margin-top:10px;
    margin-bottom:10px; 
    border-radius: 50%;
}
.palestrante .nome-palestrante{
    margin-top:5px;
}
.palestrante .bio-palestrante{
    margin:5px 10px 0 10px;;
    font-weight: bold;
}
.palestrante .frase-palestrante{
    margin:5px 0 5px 0;
}

@media screen and (min-width: 650px) {

    .button{
        font-size: 2em;
    }
    .chamada-evento{
        font-size: 5em;
    }


}